extends ../../layouts/main.pug
include ../../mixins/alert.pug
include ../../mixins/pagination.pug

block content
    +alert-success(5000)
    +alert-error(5000)

    .container.my-5
        h2.text-center.mb-4 Danh sách thiết bị
        
        //- // Button Thêm thiết bị
        //- .text-right.mb-4
        //-     a.btn.btn-primary(href="/device-management/create")
        //-         i.fas.fa-plus-circle.mr-1
        //-         | Thêm Thiết Bị Mới
        
        //- // Bảng danh sách thiết bị
        table.table.table-striped.table-hover.mt-3
            thead.thead-dark
                tr.text-center
                    th(style="width: 10%;") STT
                    th(style="width: 10%;") Hình ảnh
                    th(style="width: 25%;") Tên Thiết Bị
                    th(style="width: 15%;") Trạng Thái
                    th(style="width: 20%;") Ngày Thêm
            tbody
                each device, index in devices
                    tr.text-center
                        td #{index + 1}
                        // Hiển thị hình ảnh (nếu có), nếu không hiển thị một placeholder
                        td
                            if device.thumbnail
                                img(src=device.thumbnail, alt="Hình ảnh thiết bị", class="img-thumbnail", style="width: 75px; height: auto;")
                            else
                                img(src="/images/placeholder.png", alt="Placeholder", class="img-thumbnail", style="width: 75px; height: auto;")
                        
                        // Tên thiết bị
                        td.text-left= device.name

                        // Trạng thái hoạt động
                        td
                            if device.isActive
                                span.badge.badge-success
                                    i.fas.fa-check-circle.mr-1
                                    | Đang Hoạt Động
                            else
                                span.badge.badge-danger
                                    i.fas.fa-times-circle.mr-1
                                    | Ngừng Hoạt Động

                        // Ngày thêm thiết bị
                        td= new Date(device.createdAt).toLocaleString()

    form(
        action=""
        method="POST"
        id="form-delete-item"
        data-path=`device-management/delete`
    )

    +pagination(pagination)

    script(src="/js/device.js") 
