extends ../../../layouts/admin/main.pug
include ../../../mixins/alert.pug

block content
    +alert-success(5000)
    +alert-error(5000)

    h1.mb-4.text-center.header.text-primary Chỉnh sửa thiết bị

    form(
        action=`/admin/devices/edit/${device.id}?_method=PATCH`
        id="form-edit-device"
        method="POST"
        enctype="multipart/form-data"
        class="p-4 shadow rounded bg-white"
    )
        div(class="form-group mb-3")
            label(for="name" class="fw-bold") Tên Thiết Bị
            input(
                type="text"
                class="form-control"
                id="name"
                name="name"
                value=device.name
                placeholder="Nhập tên thiết bị"
            )

        div(class="form-group mb-3")
            div(class="form-check form-check-inline")
                input(
                    type="radio"
                    id="statusActive"
                    name="status"
                    class="form-check-input"
                    value="active"
                    checked=(device.status == "active" ? true : false)
                    
                )
                label(for="statusActive" class="form-check-label") Hoạt động
            div(class="form-check form-check-inline")
                input(
                    type="radio"
                    id="statusInactive"
                    name="status"
                    class="form-check-input"
                    value="inactive"
                    checked=(device.status == "inactive" ? true : false)
                )
                label(for="statusInactive" class="form-check-label") Dừng hoạt động

        div(
            upload-image
            class="form-group mb-3"
        )
            label(for="thumbnail" class="fw-bold") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            div(class="image-container mt-2 d-flex align-items-center")
                img(
                    src=device.thumbnail
                    upload-image-preview
                    class="image-preview rounded border"
                    style="width: 150px; height: 150px; object-fit: cover;"
                )
                span.button-cancel.ms-3.btn.btn-sm.btn-outline-danger X

        div(class="text-center mt-4")
            button(
                type="submit"
                class="btn btn-primary px-5"
            ) Cập nhật

    script(src="/admin/js/device.js")
